@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#madlibs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  max-width: 1000px;
  margin: 0 auto;

  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.714;

  [hidden] { display: none !important; }

  .clause {
    color: white;
    background-color: #20303A;
    border-radius: 10px;

    padding: 15px 15px;
    position: relative;
    text-align: center;
    line-height: 1.85;

    &:not(:first-child) {
      margin-left: 45px;
    }

    // arrow line
    &:not(:last-child):before {
      content: ' ';

      border-top: 2px solid #93A7B3;
      width: 41px;

      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 1px;
      margin-top: -1px;
    }

    // arrow point
    &:not(:last-child):after {
      content: '';

      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 31.5px;
      margin-top: -5.25px;
      width: 9px;
      height: 9px;
      border-bottom: 2px solid #93A7B3;
      border-right: 2px solid #93A7B3;
      border-radius: 1px;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
    }
  }

  .clause-dropdown {
    &.one {
      .clause-entry {
        background-color: #1D93BA;
        box-shadow: 6px 0 0 #1D93BA, -6px 0 0 #1D93BA;
      }
      .clause-menu {
        background-color: #1D93BA;
      }
    }

    &.two {
      .clause-entry {
        background-color: #46B4BF;
        box-shadow: 6px 0 0 #46B4BF, -6px 0 0 #46B4BF;
      }
      .clause-menu {
        background-color: #46B4BF;
      }
    }

    &.three {
      .clause-entry {
        background-color: #42B2FD;
        box-shadow: 6px 0 0 #42B2FD, -6px 0 0 #42B2FD;
      }
      .clause-menu {
        background-color: #42B2FD;
      }
    }

    &.four {
      .clause-entry {
        background-color: #0082DA;
        box-shadow: 6px 0 0 #0082DA, -6px 0 0 #0082DA;
      }
      .clause-menu {
        background-color: #0082DA;
      }
    }
  }

  .clause-entry {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    display: inline;
    padding: 1.5px 0;
    margin: 0 6px;

    border: 0;
    border-radius: 2px;
    color: white;
    font-family: "Inter", "Helvetica", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-align: left;

    &:focus {
      outline: 0;
    }
  }

  .clause-menu {
    position: absolute;
    z-index: 2;
    color: #fff;
    line-height: 1.14;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    padding: 6px 0;
    margin-top: 4px;
    margin-left: -6px;
    min-width: 200px;
    max-width: 280px;
    animation: pop-in 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  .clause-menu-item {
    display: block;
    cursor: pointer;
    padding: 8px 6px;
    transition: background-color 0.1s ease;

    & + & {
      margin-top: 6px;
    }

    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 800px) {
  #madlibs {
    flex-direction: column;

    .clause {
      &:not(:first-child) {
        margin-left: 0;
        margin-top: 45px;
      }

      // arrow line
      &:not(:last-child):before {
        content: ' ';

        border: 0;
        height: 41px;
        width: 2px;
        background-color: #93A7B3;

        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -1px;
        margin-top: 1px;
      }

      // arrow point
      &:not(:last-child):after {
        content: '';

        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: 30px;
        margin-left: -6px;
        height: 10px;
        width: 10px;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
      }
    }
  }
}
