$widget_url: "https://parabola-public.s3-us-west-2.amazonaws.com/widget/";

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-12px);
  }
}

#madlibs {
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;

  * { box-sizing: border-box; }

  [hidden] { display: none !important; }
}

#madlibs-root {
  max-width: 960px;
  margin: 0 auto;
}

.madlibs-illustration {
  margin-top: 20px;
  display: flex;
}

.madlibs-illustration-part {
  background-size: contain;
  position: relative;
  width: 33.333%;

  &.pull { background-image: url('#{widget_url}pull-bg.jpeg'); }
  &.push { background-image: url('#{widget_url}push-bg.jpeg'); }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    opacity: 0;
    transition: opacity 0.25s linear;
  }

  &.image-0 > img:nth-child(1) { opacity: 1; }
  &.image-1 > img:nth-child(2) { opacity: 1; }
  &.image-2 > img:nth-child(3) { opacity: 1; }
}

.clause-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}

.clause {
  color: white;
  background-color: #20303a;
  border-radius: 10px;
  box-shadow: 11px 11px 0 rgba(0, 0, 0, 0.25);

  padding: 15px 25px;
  position: relative;
  text-align: center;
  line-height: 1.85;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 3;

  &.guarantee-width {
    min-width: 35%;
  }

  &:not(:first-child) {
    margin-left: 45px;
  }

  // arrow line
  &:not(:last-child):before {
    content: ' ';

    border-top: 2px solid #20303a;
    width: 41px;

    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -1px;
  }

  // arrow point
  &:not(:last-child):after {
    content: ' ';

    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 33px;
    margin-top: -6px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: 13px solid #20303a;
  }
}

.clause-entry {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  position: relative;
  display: inline;
  padding: 1.5px 5px 1.5px 0;
  margin: 0 6px;

  border-radius: 2px;
  color: white !important; // account for webflow css
  font-family: "inter", "helvetica", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-align: left;

  &:focus {
    outline: 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 7px;
    right: -1px;

    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-radius: 1px;
    transition-property: transform;
    transition-duration: 0.1s;

    transform: rotate(45deg);
    height: 4px;
    width: 4px;
  }

  .clause-dropdown.open &:after {
    transform: rotate(-135deg) translateY(-1px) translateX(-2px);
  }
}

.clause-menu {
  position: absolute;
  z-index: 2;
  color: #fff;
  line-height: 1.14;
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  margin-top: 5px;
  margin-left: -6px;
  padding: 0;
  min-width: 200px;
  max-width: 280px;
  animation: pop-in 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);

  &.closing {
    animation: pop-out 0.1s ease-in;
  }
}

.clause-menu-item {
  display: block;
  cursor: pointer;
  padding: 8px 6px;
  transition: background-color 0.1s ease;

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

$bg-one: #1d93ba;
$bg-two: #46b4bf;
$bg-three: #42b2fd;
$bg-four: #0082da;

@mixin clause-colors($name, $color) {
  $hover-color: darken($color, 5%);

  .clause-entry.#{$name} {
    background-color: $color;
    box-shadow: 6px 0 0 $color, -6px 0 0 $color;

    &:hover {
      background-color: $hover-color;
      box-shadow: 6px 0 0 $hover-color, -6px 0 0 $hover-color;
    }
  }
  .clause-menu.#{$name} {
    background-color: $color;
  }
}

@include clause-colors(one, $bg-one);
@include clause-colors(two, $bg-two);
@include clause-colors(three, $bg-three);
@include clause-colors(four, $bg-four);

@media (min-width: 768px) {
  .clause {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .clause-container {
    flex-direction: column;
    align-items: center;
  }

  .clause {
    &:not(:first-child) {
      margin-left: 0;
      margin-top: 45px;
    }

    // arrow line
    &:not(:last-child):before {
      border: 0;
      height: 41px;
      width: 2px;
      background-color: #20303A;

      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -1px;
    }

    // arrow point
    &:not(:last-child):after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 35px;
      margin-left: -9px;

      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
    }
  }
}

@media (max-width: 500px) {
  .clause {
    width: 90%;
  }

  .clause-menu {
    left: calc(50% - 125px) !important;
    right: auto !important;
    margin-left: 0;
    width: 250px;
  }
}
