#madlibs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  max-width: 1000px;
  margin: 0 auto;

  font-family: "Inter", "Helvetica", sans-serif;
}

#madlibs [hidden] {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

#madlibs .clause {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);

  padding: 10px 15px;
  position: relative;
}
#madlibs .clause:not(:first-child) {
  margin-left: 45px;
}
#madlibs .clause:not(:last-child):before {
  content: ' ';

  border-top: 2px solid #93A7B3;
  width: 42px;

  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 1px;
  margin-top: -1px;
}
#madlibs .clause:not(:last-child):after {
  content: '';

  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 32px;
  margin-top: -5.5px;
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #93A7B3;
  border-right: 2px solid #93A7B3;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

#madlibs .clause-entry {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  display: inline;
  padding: 1.5px 4px;

  border: 0;
  border-radius: 3px;
  color: white;
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-align: left;
}
#madlibs .clause-entry:focus {
  outline: 0;
}
#madlibs .clause-entry.green {
  background-color: #36BA82;
}
#madlibs .clause-entry.orange {
  background-color: #FF9E58;
}
#madlibs .clause-entry.teal {
  background-color: #46B4BF;
}

#madlibs .clause-dropdown {
  position: absolute;
  z-index: 2;
  border: 1px solid #93A7B3;
  border-radius: 3px;
  background-color: #fff;
  padding: 0;
  min-width: 220px;
  max-width: 280px;
  transition: visibility 0s, opacity 0.2s linear;
  opacity: 1;
}
#maxlibs .clause-dropdown[hidden] {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px);
}
#madlibs .clause-dropdown option:hover {
  background-color: #eee;
}

#madlibs .clause-dropdown-item {
  display: block;
  cursor: pointer;
  padding: 5px;
}
#madlibs .clause-dropdown-item:hover,
#madlibs .clause-dropdown-item:focus {
  background-color: #e0e0e0;
}
#madlibs .clause-dropdown-item + .clause-dropdown-item {
  margin-top: 5px;
}
